{% extends 'user/user.html.twig' %}
{% block title %} {{ __('Default groups') }} {% endblock %}

{% block user_content %}
    <div class="page-title">
        <span class="material-icons-outlined">favorite_border</span>
        <h1>{{ __('Default groups') }}</h1>
    </div>
{% endblock %}
