{% extends 'user/user.html.twig' %}
{% block title %} {{ __('Groups') }} {% endblock %}

{% block user_content %}
    <div class="page-title">
        <span class="material-icons-outlined">loyalty</span>
        <h1>{{ __('Groups') }}</h1>
    </div>
{% endblock %}
