<div class="preloader-page" id="preloader-page">
    <div class="logo">
        <h1>{{ env('PROJECT_NAME') }}</h1>
    </div>

    <img src="{{ version('images/vendor/loader/black-loader.png') }}" alt="">
</div>
