{% extends 'layouts/base.html.twig' %}

{% block main_content %}
    <tr>
        <td width="100%" align="center" style="width:100%;">
            <table border="0" cellspacing="0" cellpadding="0">
                <tbody>
                    <tr>
                        <td class="btn-more" bgcolor="#00d100" style="
                                    -webkit-border-radius: 120px;
                                    -moz-border-radius: 120px;
                                    border-radius: 120px;
                                    background-color: #00d100;
                                    padding: 12px 30px 12px 30px;
                                    mso-padding-alt: 12px 30px 12px 30px;
                                " align="center">
                            <a href="{{ link }}" style="
                                        display: inline-block;
                                        font-size: 14px;
                                        color: #ffffff;
                                        font-weight: 600;
                                        text-decoration: none;
                                        font-family: Arial, Helvetica, sans-serif;
                                    ">{{ __('email.register.button') }}</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </td>
    </tr>

    <tr>
        <td width="100%" align="center" style="
            width:100%;
            padding:25px 0px 0px 0px;
            mso-padding-alt: 25px 0px 0px 0px;
        ">
            <u style="
                font-weight: 500;
                font-size: 12px;
                color: #666;
                font-family: Arial, Helvetica, sans-serif;
            ">
                {{ __('email.register.info') }}
            </u>
        </td>
    </tr>
{% endblock %}
