.user-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

/* -------------------------------------------------------------------
SIDEBAR PAGE
--------------------------------------------------------------------*/
.user-container #sidebar-page, .user-container .sidebar-page {
    max-width: 350px;
    width: 100%;
}

.user-container .sidebar-page {
    background: var(--white);
    border: 1px solid var(--snow);
    padding: 20px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: 0;
    max-height: 700px;
    overflow: auto;
}

.user-container .sidebar-section-groups,
.user-container .navbar-section-groups {
    margin-left: 0;
    margin-bottom: 0;
}

.user-container .sidebar-section-groups li {
    margin-left: 0;
    max-width: 100%;
    height: 60px;
    margin-top: 10px;
}

.user-container .sidebar-section-groups li a {
    border-radius: 5px;
    padding: 10px;
}

.user-container .section-socials li a h3 {
    font-size: 13px;
}

.user-container .sidebar-page .section-title {
    margin-left: 0;
    font-size: 12px;
}

.user-container .sidebar-page .none-data {
    height: auto;
    margin-bottom: 10px;
}

.user-container .sidebar-page .join-to-group {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.user-container .sidebar-page .join-to-group > a {
    font-size: 12px;
}

.user-container .sidebar-page .friend-box {
    height: 40px;
}

.user-container #navbar-page, .user-container .navbar-page {
    max-width: 260px;
    width: 100%;
}

/* -------------------------------------------------------------------
NAVBAR PAGE
--------------------------------------------------------------------*/
.user-container .navbar-page {
    height: auto;
    border-radius: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right: 0;
    border-left: 1px solid var(--snow);
}

.user-container .navbar-page .menu-list li:not(:first-child) {
    margin-top: 7px;
}

.user-container .navbar-page .menu-list a {
    display: inline-flex;
    align-items: center;
    background: transparent;
    border-radius: 30px;
    padding: 5px 15px;
}

.user-container .navbar-page .menu-list a span,
.user-container .navbar-page .menu-list a {
    transition: .4s;
}

.user-container .navbar-page .menu-list a:hover,
.user-container .navbar-page .active-menu-item a {
    background: var(--green);
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, .1);
}

.user-container .navbar-page .menu-list a:hover span,
.user-container .navbar-page .active-menu-item span {
    color: var(--white);
    text-shadow: 0 0 4px rgba(0, 0, 0, .1);
}

.user-container .navbar-page .menu-list a span:last-child {
    font-size: 16px;
    font-weight: 500;
}

.user-container .navbar-page .menu-list a span:first-child {
    width: 35px;
}

.navbar-copyright {
    font-size: 10px;
}

/* -------------------------------------------------------------------
MAIN CONTENT
--------------------------------------------------------------------*/
.user-container .section-main-content {
    width: calc(100% - 610px);
    border: 1px solid var(--snow);
    background: var(--white);
    margin-bottom: 0;
}

.user-container .page-title {
    padding: 20px;
    border-bottom: 1px solid var(--snow);
    display: flex;
    align-items: center;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
    position: relative;
    z-index: 10;
    background: #fdfdfd;
}

.user-container .page-title h1 {
    margin-left: 5px;
    font-size: 18px;
}

.user-container .box-post {
    background: var(--white);
    padding: 20px;
}

.user-container .box-own-post {
    background: var(--secondary);
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, .1);
    position: relative;
    z-index: 10;
    border-bottom: 1px solid var(--snow);
}

.user-container .box-post textarea, .user-container .box-post input {
    background: var(--white);
    box-shadow: none;
    border-radius: 30px;
    padding: 10px 20px;
    margin-left: 10px;
}

.user-container .box-post input {
    margin-left: 0;
}

.user-container .box-own-post fieldset {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.user-container .box-own-post fieldset.row-textarea {
    align-items: flex-start;
}

.user-container .box-own-post fieldset.row-button {
    margin-top: 5px;
}

.user-container .box-own-post fieldset.row-button .custom-button,
.user-container .user-post .post-content button {
    box-shadow: none;
}

.user-container .user-post {
    padding: 0;
    margin-top: 20px;
}

.user-container .user-post .post-item {
    margin-top: 20px;
}

.user-container .user-post .post-top {
    border-bottom: 1px dashed var(--snow);
    background: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    border-top: 1px solid var(--snow);
}

.user-container .user-post .post-top > * {
    display: flex;
    align-items: center;
}

.user-container .user-post .post-top .post-avatar img {
    width: 35px;
    border-radius: 100%;
    margin-right: 10px;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, .1);
}

.user-container .user-post .post-top .post-date small {
    color: #999;
    font-size: 9px;
}

.user-container .user-post .post-top .post-options {
    background: var(--white);
    border: 1px solid var(--snow);
    border-radius: 30px;
    margin-left: 10px;
    display: flex;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, .05);
}

.user-container .user-post .post-top .post-options > * {
    font-size: 14px;
    padding: 5px;
    cursor: pointer;
}

.user-container .user-post .post-top .post-options > *:not(:first-child) {
    border-left: 1px solid var(--snow);
}

.user-container .user-post .post-content {
    border-bottom: 1px solid var(--snow);
    padding: 20px;
}

.user-container .user-post .post-content .post-edit,
.user-container .comment-edit {
    display: flex;
    align-items: center;
}

.user-container .comment-edit {
    width: 100%;
}

.user-container .user-post .post-content textarea {
    margin: 0;
}

.user-container .user-post .post-content button {
    color: var(--white);
    margin-left: 10px;
}

.user-container .user-post .post-bottom {
    width: 100%;
    background: var(--secondary);
    padding: 10px 20px;
    border-bottom: 1px solid var(--snow);
}

.user-container .user-post .post-bottom .post-bottom-top {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.user-container .user-post .post-bottom-top button {
    font-size: 11px;
}

.user-container .user-post .post-bottom-top button:hover {
    text-decoration: underline;
}

.user-container .user-post .post-bottom-comments {
    border-top: 1px solid var(--snow);
    margin-top: 10px;
    padding-top: 10px;
    display: none;
}

.user-container .user-post .post-comment-item {
    background: var(--white);
    padding: 10px;
    display: flex;
    align-items: center;
    border: 1px solid var(--snow);
    border-radius: 5px;
    margin-top: 5px;
}

.user-container .user-post .post-comment-avatar {
    display: flex;
    align-items: center;
}

.user-container .user-post .post-comment-avatar span {
    font-size: 14px;
    cursor: pointer;
}

.user-container .user-post .post-comment-avatar img {
    width: 30px;
    border-radius: 100%;
    margin-right: 10px;
    margin-left: 5px;
}

.user-container .user-post .post-comment-message {
    width: 90%;
    display: flex;
    align-items: center;
}

.user-container .user-post .post-comment-create .post-comment-message {
    width: 100%;
}

.user-container .user-post .post-comment-message textarea {
    margin-left: 0;
    height: 35px;
    padding: 7px 10px;
    background: var(--secondary);
}

.user-container .user-post .post-comment-message button {
    box-shadow: none;
    margin-left: 5px;
    min-height: 10px;
    padding: 5px;
}

.user-container .none-comments {
    text-align: center;
    margin-bottom: 10px;
}

.user-container .post-item-none {
    text-align: center;
}

.user-container .box-profile {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 250px;
    background-position: center;
}

.user-container .box-profile .profile-avatar img {
    width: 100px;
    border-radius: 100%;
    margin-right: 15px;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, .25);
    border: 2px solid var(--white)
}

.user-container .box-profile .profile-name span {
    font-weight: bold;
    font-size: 20px;
    color: var(--white);
    text-shadow: 0 0 4px rgba(0, 0, 0, .15)
}

.user-container .box-settings {
    background: var(--white);
}

.user-container .box-settings hr {
    margin: 20px 0;
}

.box-settings.box-post input {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background: var(--secondary);
}

.user-container .friend-item {
    border: 1px solid var(--snow);
    border-bottom: 0;
    padding: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.user-container .friend-item .friend-item-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.user-container .friend-item:nth-child(even) {
    background: var(--secondary);
}

.user-container .friend-item:last-child {
    border-bottom: 1px solid var(--snow);
}

.user-container .friend-item .friend-avatar {
    display: flex;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, .05);
    margin-right: 10px;
    background-position: center;
    background-size: cover;
}

.user-container .friend-item .friend-item-left {
    display: flex;
    align-items: center;
}

.user-container .friend-item .friend-item-right button {
    min-height: 20px;
    padding: 8px;
    box-shadow: none;
}

.user-container .friend-item .friend-item-right button.is-friends {
    background: var(--danger) !important
}

.user-container .friend-item-content {
    margin-top: 10px;
    width: 100%;
}

.user-container .friend-item-content textarea {
    margin-left: 0;
}

/* -------------------------------------------------------------------
MEDIA QUERIES
--------------------------------------------------------------------*/
@media screen and (max-width: 1140px) {
    .user-container #navbar-page,
    .user-container .navbar-page {
        max-width: 76px;
    }

    .user-container .navbar-page .menu-list a {
        padding: 5px;
    }

    .user-container .navbar-page .menu-list a span:last-child {
        display: none;
    }

    .user-container .section-main-content {
        width: calc(100% - 426px);
    }

    .user-container .navbar-page .menu-list a span:first-child {
        width: auto;
    }
}

@media screen and (max-width: 900px) {
    .user-container #sidebar-page {
        display: none;
    }

    .user-container .section-main-content {
        width: calc(100% - 74px);
    }
}

@media screen and (max-width: 560px) {
    .user-container .navbar-page, .user-container #navbar-page {
        display: none;
    }

    .user-container .section-main-content {
        width: 100%;
    }
}
